<h1>Currently <%= pluralize(@patients.count, "Patients") %> Treated</h1>

<h2><%= link_to "New Patient", new_patient_path %></h2>

<ul>
  <% @patients.each do |patient| %>
    <li>Name: 
      <%= link_to patient.name, patient %> Number of Appointments: <%= patient.appointments.count %>
    </li>
  <% end %>
</ul>


<%= link_to "Back to List", patients_path %>